
<div class="column is-full is-half-tablet is-two-thirds-desktop has-text-white">
    <div class="tsl-bg box">
        <h1 class="title has-text-white">Überblick</h1>
        <div style="width:100%; padding-top:100%; border-style: solid; border-color:red; position:relative">
            <div class="powerflow-center"></div>
            <div class="powerflow-meter" data-name="house">
                <div class="powerflow-pearl"></div>
                <div class="powerflow-meter-icon">
                    <div class="powerflow-meter-label">Haus</div>
                </div>
            </div>
            <div class="powerflow-meter" data-name="solar">
                <div class="powerflow-pearl"></div>
                <div class="powerflow-meter-icon">
                    <div class="powerflow-meter-label">Solaranlage</div>
                </div>
            </div>
            <div class="powerflow-meter consumer" data-name="wallbox">
                <div class="powerflow-pearl"></div>
                <div class="powerflow-meter-icon">
                    <div class="powerflow-meter-label">Wallbox</div>
                </div>
            </div>
            <div class="powerflow-meter" data-name="grid">
                <div class="powerflow-pearl"></div>
                <div class="powerflow-meter-icon">
                    <div class="powerflow-meter-label">Netz</div>
                </div>
            </div>
            <div class="powerflow-meter inactive" data-name="powerwall">
                <div class="powerflow-pearl"></div>
                <div class="powerflow-meter-icon">
                    <div class="powerflow-meter-label">
                        <span>Powerwall</span>
                        <span class="powerflow-meter-power"> 11kW</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>